/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/10/2016, 09:21:43
    Author     : alunos
*/

body {
    background-image: url('../img/fundo3.PNG');
    background-repeat: repeat;
    font-family: verdana;
}
#topo {
    margin: -10px auto auto auto;
    width: 50%;
}
#titulo {
    font-size: 20pt;
    color: rgb(112,173,71);
    width: 100%;
    text-align: left;
}
#buscar {
    background-color: rgb(112,173,71);
    margin: auto;
    width: 90%;
}
#buscarBotao {
    font-size: 14pt;
    color: rgb(112,173,71);
    border-radius: 0pt;
    background-color: white;
    border: 0px;
}
#buscarCampo {
    width: 90%;
    margin: auto;
    height: 20px;
    padding-left:23px;     
    padding-top:1.5px;       
    height:20px;                                              
    background-image:url(../img/buscar.png);
    background-size: 20px;
    background-position: center left;
    background-repeat:no-repeat;      
    border: 0px;
}
#login {
    background-color: rgb(112,173,71);
    width: 95%;
    color: white;
    font-size: 14pt;
}
#imgCarrinho {
    width: 30px;
}
#imgLogin {
    width: 29px;
}