/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/10/2016, 09:21:43
    Author     : alunos
*/

body {
    background-image: url('../img/fundo3.PNG');
    background-repeat: repeat;
    font-family: verdana;
    margin: 0px;
}
#titulo {
    font-size: 20pt;
    color: rgb(112,173,71);
    width: 207px;
    text-align: left;
}
#buscar {
    background-color: rgb(112,173,71);
    margin: auto;
    width: 376px;
    height: 63px;
    text-align: center;
}
#buscarBotao {
    font-size: 14pt;
    color: rgb(112,173,71);
    border-radius: 0pt;
    background-color: white;
    border: 0px;
    cursor: pointer;
}
#buscarCampo {
    width: 90%;
    height: 20px;
    padding-left:23px;     
    padding-top:1.5px;       
    height:20px;                                              
    background-image:url(../img/buscar.png);
    background-size: 20px;
    background-position: center left;
    background-repeat:no-repeat;      
    border: 0px;
}
#login {
    background-color: rgb(112,173,71);
    width: 314px;
    height: 63px;
    color: white;
    font-size: 14pt;
    height: 100%;
    text-align: center;
}
#login a {
    text-decoration: none;
    color: white;
}
#imgCarrinho {
    width: 30px;
}
#imgLogin {
    width: 29px;
}
#loginBotao {
    cursor: pointer;
    height: 100%;
    margin: auto;
}
#conteudo {
    width: 50%;
    margin: -8px auto auto auto;
}
#menu {
    width: 100%;
    font-size: 13pt;
}
.menuBotao {
    margin-right: 5px;
    width: 230px;
    border-radius: 1em;
    background-color: rgb(112,173,71);
    border: 0px;
}
.menuImagem {
    margin-left: 5px;
    width: 21px;
}
.menuA { 
    text-decoration: none;
    color: white;
}
.menuCelula {
    vertical-align: top;
}
#loginCadastrar {
    border-bottom: 1px solid white;
}
#loginCadastrar a div {
    width: 141px;
    height: 40px;
    vertical-align: middle;
    display: table-cell;
}
#rodape {
    background: rgb(112,173,71);
    height: 26px;
    font-size: 13pt;
    color: white;
}
.rodapeImg {
    width: 20px;
    margin: auto;
}
#rodape a {
    text-decoration: none;
    color: white;
}
.carrinhoAd {
    width: 29px;
}
.revista {
    width: 160px;
    height: 250px;
}
.revista2 {
    width: 200px;
    height: 320px;
}
#conteudoCont {
    border: 1px solid rgb(112,173,71); 
    height: 825px; 
    width: 100%; 
    color: white;
}
#caixaFormCadastro {
    border: 1px solid rgb(112,173,71); 
    border-radius: 20pt;
    margin: auto;
    text-align: center;
    height: 400px;
    width: 350px;
    padding: 50px 75px 50px 75px;
}
#caixaFormCadastro .texto {
    width: 200px;
}
#caixaFormLogin {
    border: 1px solid rgb(112,173,71); 
    border-radius: 20pt;
    margin: auto;
    text-align: center;
    height: 200px;
    width: 350px;
    padding: 50px 75px 50px 75px;
}
#caixaFormLogin .texto {
    width: 200px;
}
#caixaFormBotao {
    font-size: 14pt;
    background-color: rgb(112,173,71);
    border-radius: 0pt;
    color: white;
    border: 0px;
    cursor: pointer;
    width: 100px;
}
#conteudoTitulo {
    background-color: rgb(112,173,71); 
    margin: -2px 0px 0px 0px; 
    display: table;
    padding-right: 5px; 
    padding-left: 5px;
    padding-bottom: 2px;
    font-size: 14pt;
}
.nomeCategoria {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}
.nomeCategoria a {
    text-decoration: none;
    color: rgb(112,173,71);
}
.tdInfo {
    vertical-align: top;
}
.tdCarrinho {
    background: rgb(112,173,71); 
    height: 30px;
    cursor: pointer;
}
.tdInfo2 {
    vertical-align: middle;
}
.tdInfo2 a {
    text-decoration: none;
    color: rgb(112,173,71);
}

.tdRevistas {
    vertical-align: middle;
}
.revistaInfo {
    height: 250px;
}
.revistaInfo2 {
    height: 320px;
}
.maisInfo {
    border: 1px solid rgb(112,173,71); 
    height: 80%; 
    width: 100%; 
    color: white;
}
.maisInfoTitulo {
    background-color: rgb(112,173,71); 
    margin: -6px 0px 0px -2px; 
    display: table;
    padding-right: 5px; 
    padding-left: 5px;
    padding-bottom: 2px;
}
.maisInfoDescricao {
    color: rgb(112,173,71);
    margin-left: 30px;
    overflow: auto;
    height: 180px;
}
#subMenu {
    border: 1px dotted rgb(112,173,71); 
    margin-top: -1px; 
    width: 85%; 
    color: rgb(112,173,71); 
    text-align: center;
    display: none;
}
.subMenuBottom {
    border-bottom: 1px dotted rgb(112,173,71);
    height: 30px;
    cursor: pointer;
}
.subMenuBottom a {
    text-decoration: none;
    color: rgb(112,173,71); 
}
.subMenuBottom a div {
    width: 200px;
    height: 31px;
    vertical-align: middle;
    display: table-cell;
}
#menuCategoria:hover #subMenu{
    display: table;
}
#DescricaoMenuInferior {
    color: rgb(112,173,71);
    margin-top: -370px;
    margin-left: 60px;
}
.compraTabela {
    border: 1px solid rgb(112,173,71); 
    border-radius: 20pt;
    margin: auto;
    text-align: center;
    width: 330px;
    padding: 0px 20px 10px 20px;
    color: rgb(112,173,71);
    height: 350px;
}
.compraTabela .texto {
    width: 170px;
}
#finalizarCompraBotao {
    font-size: 14pt;
    background-color: rgb(112,173,71);
    border-radius: 0pt;
    color: white;
    border: 0px;
    cursor: pointer;
}
.carrinhoNome {
    text-align: left;
}
.carrinhoPreco {
    text-align: right;
}